html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
    .main {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-content:space-evenly;
        align-items: center;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../images/dana-devolk-E0BdstzaO8E-unsplash.jpg');
}

.main {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.content {
    overflow: hidden;
    background-color: black;
    position: relative;
    margin-left: 25px;
    height: 370px;
    border: 1rem solid black;
    border-radius: 3rem;
    box-shadow: 0 0 1rem black;
}

img {
    width: 350px;
    height: 355px;
    transition: .35s;
}

.move {
    transform: scale(1.1);
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.gallery-title {
    display: flex;
    justify-content: center;
}

.gallery-title-msg {
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Workbench", sans-serif;
    color: black;
    margin-top: 1rem;
    text-align: center;
    text-decoration-line: underline;
    text-shadow: 0 0 1rem green;
    margin-left: 30px;
}

.credits-list {
    background-color: papayawhip;
    height: fit-content;
    width: fit-content;
    padding: 15px 15px 15px 15px;
    margin: 50px 0px 0px 30%px;
    border-radius: 3rem;
    box-shadow: 0 0 2rem black;
}

footer {
    background-color: white;
}
