html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.main {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.content {
    overflow: hidden;
    background-color: black;
    position: relative;
    margin-left: 25px;
    height: 250px;
    border: 1rem solid black;
    border-radius: 3rem;
    box-shadow: 0 0 1rem black;
}

img {
    width: 250px;
    height: 225px;
    transition: .35s;
}

.move {
    transform: scale(1.1);
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.artistlink {
    text-decoration: none;
}
