@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<h2 class="credits">Artist</h2>
<p class="artistlink">Art by FisherG from https://opengameart.org/users/fisherg</p>


