@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<div class="credits-list">
    <h2 class="">City Night</h2>
    <p class="artistlink">Art by FisherG from https://opengameart.org/users/fisherg</p>

    <h2 class="">Mountain Scene</h2>
    <p class="artistlink">Art by Fabinhosc from https://opengameart.org/users/fabinhosc</p>

    <h2 class="">Cave Scene</h2>
    <p class="artistlink">Art by Admurin from https://opengameart.org/users/admurin</p>

    <h2 class="">Background Image</h2>
    <p>
        Photo by <a href="https://unsplash.com/&#64thissillygirlskitchen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Dana DeVolk</a> on <a href="https://unsplash.com/photos/gray-surface-E0BdstzaO8E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
</div>


