@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<div>
    <h2 class="">City Night</h2>
    <p class="artistlink">Art by FisherG from https://opengameart.org/users/fisherg</p>
</div>

<div>
    <h2 class="">Mountain Scene</h2>
    <p class="artistlink">Art by Fabinhosc from https://opengameart.org/users/fabinhosc</p>
</div>

<div>
    <h2 class="">Cave Scene</h2>
    <p class="artistlink">Art by Admurin from https://opengameart.org/users/admurin</p>
</div>


