@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main">
    <div id="scene" data-hover-only="true" data-relative-input="true "class="content" data-limit-x="100" data-limit-y="20">
        <img src="~/./images/sCitySky.png" data-depth="0.08" alt="">
        <img src="~/./images/sCityFar.png" data-depth="0.2" alt="">
        <img src="~/./images/sCityMid.png" data-depth="0.24" alt="">
        <img src="~/./images/sCityClose.png" data-depth="0.3" clas="wide" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.35" alt="">
        <img src="~/./images/sCityCarsClose.png" data-depth="0.42" class="move" alt="">
    </div>

    <div id="scene1" data-hover-only="true" data-relative-input="true" class="content">
        <img src="~/./images/BackgroundMuntain02.png" data-depth=".35" alt="" />
        <img src="~/./images/Background01.png" data-depth=".1" alt="" />
        <img src="~/./images/Cloud02.png" data-depth=".17" alt="" />
        <img src="~/./images/Clouds04.png" data-depth=".25" alt="" />
        <img src="~/./images/BackgroundMountain_01.png" data-depth="0.05" alt="">
        <img src="~/./images/Cloud01.png" data-depth=".45" alt="" />
        <img src="~/./images/Cloud03.png" data-depth=".6" alt="" style=opacity:0.7/>
    </div>
</div>




