@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="gallery-title">
    <div class="gallery-title-msg">
        <h1>PARALLAX GALLERY</h1>
    </div>
</div>

<div class="main">
    <div id="scene" data-hover-only="true" data-relative-input="true "class="content" data-limit-x="100" data-limit-y="20">
        <img src="~/./images/sCitySky.png" data-depth="0.08" alt="">
        <img src="~/./images/sCityFar.png" data-depth="0.1" alt="">
        <img src="~/./images/sCityMid.png" data-depth="0.12" alt="">
        <img src="~/./images/sCityClose.png" data-depth="0.1" clas="wide" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.25" alt="">
        <img src="~/./images/sCityCarsClose.png" data-depth="0.32" class="move" alt="">
    </div>

    <div id="scene1" data-hover-only="true" data-relative-input="true" class="content">
        <img src="~/./images/BackgroundMuntain02.png" data-depth=".35" alt="" />
        <img src="~/./images/Background01.png" data-depth=".1" alt="" />
        <img src="~/./images/Cloud02.png" data-depth=".17" alt="" />
        <img src="~/./images/Clouds04.png" data-depth=".25" alt="" />
        <img src="~/./images/BackgroundMountain_01.png" data-depth="0.05" alt="">
        <img src="~/./images/Cloud01.png" data-depth=".45" alt="" />
        <img src="~/./images/Cloud03.png" data-depth=".6" alt="" style=opacity:0.7/>
    </div>

    <div id="scene2" data-hover-only="true" data-relative-input="true" class="content">
        <img src="~/./images/7.png" data-depth=".01" alt="" />
        <img src="~/./images/6.png" data-depth=".05" alt="" />
        <img src="~/./images/5.png" data-depth=".1" alt="" />
        <img src="~/./images/4.png" data-depth=".25" alt="" />
        <img src="~/./images/3.png" data-depth="0.45" alt="">
        <img src="~/./images/2.png" data-depth=".3" alt="" />
        <img src="~/./images/1.png" data-depth=".05" alt=""/>
</div>




