@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div id="scene" class="content" data-limit-x="20" data-limit-y="20">
        <img src="~/./images/sCitySky.png" data-depth="0.02" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.04" alt="">
        <img src="~/./images/sCityMid.png" data-depth="0.08" alt="">
        <img src="~/./images/sCityClose.png" data-depth="0.2" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.35" alt="">
        <img src="~/./images/sCityCarsClose.png" data-depth="0.42" alt="">
    </div>
</div>




