@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main">
    <div id="scene" data-hover-only="true" data-relative-input="true "class="content" data-limit-x="100" data-limit-y="20">
        <img src="~/./images/sCitySky.png" data-depth="0.08" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.12" alt="">
        <img src="~/./images/sCityMid.png" data-depth="0.15" alt="">
        <img src="~/./images/sCityClose.png" data-depth="0.2" clas="wide" alt="">
        <img src="~/./images/sCityCarsFar.png" data-depth="0.35" alt="">
        <img src="~/./images/sCityCarsClose.png" data-depth="0.42" class="move" alt="">
    </div>
</div>




